
table{
  width:100%;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.left {
  width: 30vw;
  margin-left: 50px;
  margin-right: 20px;
}

.right {
  width: 70vw;
  margin-right: 50px;
  margin-left: 50px;
}

mat-form-field {
  width: 100%;
}

.mat-raised-button {
  background-color: #185951;
  color: white;
  border-radius: 50px;
  margin-right: 15px;
  width: 100%;
  height: 50px;
}

.cartItems,
.total {
  display: flex;
  justify-content: space-between;
}

tr.mat-footer-row {
  font-weight: bold;
  font-size: 200%;
}
