.mat-raised-button.mat-primary {
  background-color: #fc4a1a;
}
mat-dialog-content.mat-dialog-content {
  display: flex;
  flex-wrap: wrap;
}

::ng-deep {
  .mat-form-field {
    flex: 1 1 40%;
    margin: 10px;
  }
}
