<mat-card class="card">
  <mat-card-content>
    <div class="header"><h2>REGISTER</h2></div>

    <form [formGroup]="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          
        />
      </mat-form-field>
      <br />

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          
        />
      </mat-form-field>
      <br />

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
        />
      </mat-form-field>
      <br />

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          formControlName="phone"
        />
      </mat-form-field>
      <br />

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Street Address</mat-label>
        <input
          matInput
          formControlName="address"
          
        />
      </mat-form-field>
      <br />

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>City</mat-label>
        <input
          matInput
          formControlName="city"
          
        />
      </mat-form-field>
      <br />

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>State</mat-label>
        <input
          matInput
          formControlName="state"
          
        />
      </mat-form-field>
      <br />

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Postcode</mat-label>
        <input
          matInput
          formControlName="postCode"
          
        />
      </mat-form-field>
      <br />

      <mat-card-actions>
        <button
        [disabled]="form.invalid"
          mat-raised-button
          color="primary"
          class="btn btn-success pull-right"
          (click)="registerCustomer()"
        >
          Register
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
