.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

img {
  width: 75vh;
}

.containerItem {
  margin: 10px;
}

.mat-raised-button {
  background-color: #185951;
  color: white;
  border-radius: 50px;
  width: 150px;
}
