table {
  width: 100%;
}

.mat-raised-button.mat-primary {
  background-color: #185951;
}
mat-icon.mat-icon {
  cursor: pointer;
}
mat-card.mat-card{
  padding-bottom: 80px;;
}

.productDescription {
  max-width: 100px;
}

.mat-raised-button {
  background-color: #185951;
   color: white;
  margin-top:12px;
  float: right;
  margin-right: 15px;
  width: 200px;
  padding: 10px;
}
