table {
  width: 100%;
}

.mat-raised-button {
  background-color: #185951;
  color: white;
  border-radius: 50px;
  float: right;
  margin-right: 15px;
  width: 200px;
}
mat-icon.mat-icon {
  cursor: pointer;
}
