// .mat-card {
//   width: 250px;
//   margin: 15px;
// }

// .mat-card-content,
// .mat-card-actions {
//   text-align: center;
// }

// .mat-cards-flex {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   margin: 5rem;
//   margin-top: 1rem;
// }

.mat-raised-button.mat-primary {
  background-color: #88bbd6;
}

mat-card.mat-card {
  width: 250px;
  margin: 10px;
}

.brand,
.price {
  padding-right: 50px;
}

// .card-content {
//   display: flex;
//   justify-content: space-between;
// }
