<div class="mat-cards-flex">
  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image1.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image2.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image3.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image4.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image5.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image6.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image7.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image8.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image9.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="../assets/images/image10.jpg"
      alt="Photo of sunglasses"
    />
    <mat-card-content>
      <p>Vogue VG0000</p>
      <p>$150.00</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to Cart</button>
      <button mat-button>Buy Now</button>
    </mat-card-actions>
  </mat-card>
</div>
