mat-card.mat-card {
  width: 300px;
  margin: 10px;
  background-color: #fdfdfd;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  display: flex;
  justify-content: space-between;
}

img {
  cursor: pointer;
}
.mat-raised-button {
  background-color: #185951;
  color: white;
  border-radius: 50px;
  width: 125px;
  margin: 10px;
}
